:root {
    --color-ff: #ffffff;
    --color-00: #000000;
    --color-16: #161722;
    --color-25: #25273c;
    --color-f3: #f3f3f3;
    --color-ca: #cacde8;
    --color-ec: #ec7000;
    --color-77: #777a92;
    --color-39: #393a4c;

    --color-ff-rgb: 255, 255, 255;
    --color-00-rgb: 0, 0, 0;
}