body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://nasratt.github.io/frontendMentorSolutions/projects/todoList/images/bg-desktop-dark.jpg');
    background-size: 100% 27vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--color-16);
}